.root{
    -fx-font-size: 12pt;
    -fx-font-family: "sans-serif";
    -fx-background: rgb(4, 46, 90);
}

.button{
    -fx-background-color: orange ;
}
.button:hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em;
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}
#label1 {
    -fx-font: bold 16pt "sans-serif";
    -fx-text-fill: orange;
}